{{> global/head }}
<body>
<div class="container index">
	<div class="index__images">
		{{#each images}}
			<div class="index__images__image">
				<a href="{{ link }}">
					<video width="100%" autoplay loop>
						<source src="{{video.url}}" type="video/mp4">
						<img alt="{{name}}" src="{{video.thumbnail}}" title="Your browser does not support the <video> tag">
					</video>
				</a>
			</div>
		{{/each}}
	</div>
</div>
{{> global/scripts }}
</body>