{{> global/head }}
<body>
<div class="container index">
	<a href="{{ link.url }}" title="{{ link.name }}">
		<img src="{{ image.url }}" alt="{{ image.name }}">
	</a>
</div>
{{> global/scripts }}
</body>