{{> global/head }}
<body>
<div class="container index">
	<div class="index__image">
		<a href="{{ link.url }}">
			<img src="{{ image.url }}" alt="{{ image.name }}">
		</a>
	</div>
</div>
{{> global/scripts }}
</body>