{{> global/head title='Biography' }}
<body>
<div class="container biography">
	{{> global/menu (load_json "src/data/pages/home.json") }}
	<div class="col-xs-12 col-sm-7">
		{{#each paragraphs}}
			<p>
				{{ text }}
			</p>
		{{/each}}
	</div>
</div>
{{> global/scripts }}
</body>