{{> global/head title='Contact' }}
<body>
<div class="container contact">
	{{> global/menu (load_json "src/data/pages/home.json") }}
	<div class="col-xs-12 col-sm-10">
		{{#each contact}}
			<div style="margin-bottom: 10px">
				<p class="no-margin">{{ description }}</p>
				<a href="mailto:{{ email }}">{{ email }}</a>
			</div>
		{{/each}}
	</div>
</div>
{{> global/scripts }}
</body>