{{> global/head }}
<body>
<div class="container events">
	{{> global/menu (load_json "src/data/pages/home.json") }}
	<div class="col-xs-12 col-sm-10">
		{{#each aliases}}
			<div>
				<table class="table table-condensed table-responsive">
					<tbody>
					{{#each_reverse bookings}}
						<tr>
							<td width="25%">{{ ../name }}</td>
							<td width="25%">{{ club.name }}</td>
							<td width="25%">{{ location }}</td>
							<td width="25%">{{ date }}</td>
						</tr>
					{{/each_reverse}}
					<tr></tr>
					</tbody>
				</table>
			</div>
		{{/each}}
	</div>
</div>
{{> global/scripts }}
</body>