@import "../../libraries/bootstrap/bootstrap/variables";

.index {
  position: relative;
  width: 100%;

  &__header-links {
	color: white;
	padding: 5px;
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	z-index: 1;
	background-color: black;

	@media screen and (max-width: $screen-sm-min) {
	  position: relative;
	  margin: 0 auto;
	}

	&__link {
	  display: inline-block;
	  max-width: 30px;
	  width: 100%;
	  margin: 0 10px;
	  text-align: center;
	  transition: opacity .5s;

	  :hover {
		opacity: 0.5;
	  }

	  img {
		width: 100%;
	  }
	}
  }

  &__images {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;

	@media screen and (max-width: $screen-sm-min) {
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: none;
	}

	&__image {
	  position: relative;
	  display: inline-block;

	  @media screen and (max-width: $screen-sm-min) {
		max-width: 100%;
		display: block;
	  }

	  img {
		max-width: 100%
	  }
	}
  }
}