// Global font weights [example, subject to change]
$light: 100;
$regular: 400;
$bold: 600;

// Global base fonts/sizing [to be changed to reference Samsung fonts or other]
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 10px;
$base-line-height: 1.4;

body {
  font-size: $base-font-size;
}

a {
  color: black;
}