@import "../../libraries/bootstrap/bootstrap/variables";

.no-margin {
  margin: 0;
}

.top-space {
  height: 150px;
  width: 100%;
}

.entry-header {
  display: none;
}

@media screen and (max-width: $screen-sm-min) {
  .top-space {
	height: 30px;
  }
}